.backColor {
  background: #288080;
  margin-top: 20px;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  text-align: center;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  padding-top: 10px;
  color: white;
  font-weight: bold;
}
